body {
  margin: 0;
  font-family: 'Montserrat', Allura;
  color: #333;
  background-color: #fff9df;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  text-align: center;
  padding: 10px;
  z-index: 10;
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 40px;
  text-align: center;
}

.hero-text h1 {
   font-family: 'Great Vibes', cursive;
  font-size: 5rem;
}

section {
  padding: 70px 20px;
  text-align: center;
}

.image-highlight img {
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
}

.events {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.event-box {
  border: 1px solid #ddd;
  padding: 30px;
  width: 250px;
}

.map iframe {
  width: 100%;
  max-width: 800px;
  height: 350px;
  border: none;
}

.gift-links a {
  margin: 10px;
  padding: 12px 25px;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
}

footer {
  background: #f5f5f5;
  padding: 30px;
}
